.st0 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st1 {
    font-family: 'MyriadPro-Regular';
}

.st2 {
    font-size: 27.965px;
}

.st3 {
    font-size: 15px;
}

.st4 {
    fill: none;
    stroke: #DFDFDF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st5 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #green;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    width: 4px;
    height: 4px;
}

rect.active {
    fill: red;
    width: 6px;
    height: 6px;
}

.st7 {
    stroke: #000000;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.st6.color {
    fill: red;
    stroke-miterlimit: 3;
    width: 2px;
    height: 2px;
}