@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/* Start your base/mobile styles here */
* {
    box-sizing: border-box;
}

html, body {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 1em;
    font-family: Verdana, sans-serif;
    background-color: black;
}

/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
    h1, h5 {
        color: white;
    }

    .container {
        max-width: 400px;
        min-width: 320px;
        width: 90%;
        margin: 0 auto;
    }

    .container img {
        width: 100%
    }

    .datepicker {
        margin: 0 auto;
        width: 100%;
        padding-top: 10px;
        text-align: center;
        margin-bottom: 20px;
    }

    button {
        height: 30px;
        font-size: .7em;
        color: white;
    }

    svg {
        left: 0px;
        transform: scale(2);
    }

    .text {
        font-size: .8em;
        width: 90%;
        line-height: 1.3;
        color: white;
    }

    .container #stockoutput {
        margin-left: 7px;
    }

    .graph {
        overflow-x: scroll;
        width: 100%;
        margin: 0 auto;
        height: 200px;
        margin-top: 20px;
    }

    /* ------------- vertical bars------------ code*/
    .cases {
        border-top: 1px dotted #BDCEDA;
        border-bottom: 1px dotted #BDCEDA;
        height: 25px;
        font-size: .8em;
        margin-top: 15px;
        color: #5A5A5A;
    }

    .scale {
        width: 90%;
    }

    #personscale {
        float: right;
        display: block;
        margin: 0;
        height: 20px;
        position: relative;
        top: -18px
    }

    #personscale img {
        width: 16%;
    }

    #casesoutput {
        margin: 0;
        width: 70%
    }

    #casesoutput p {
        width: 36%;
    }

    #casesoutput img {
        width: 4%;
        padding-left: 1px;
        text-align: left;
        display: inline-flex;
    }

    #scale img {
        width: 3%;
        padding-left: 1px;
    }

    .visual.graph {
        border: 1px dotted #BDCEDA;
        width: 99%;
        text-align: center;
        align-items: flex-end;
    }

    .vertical.bars {
        float: left;
        display: flex;
        align-items: flex-end;
        height: 100%;
        width: 65%;
        height: 100%;
    }

    .vertical.bars p {
        color: red;
        height: 100%;
        align-self: end;
        padding-left: 6px;
        display: run-in;
    }

    .vertical.bars img {
        width: 25%;
        position: relative;
        top: -125px;
        display: block;
    }

    #stock1, #stock2, #stock3 {
        background-color: black;
        margin-left: 9px;
        color: red;
        width: 90%;
        text-align: center;
        background-color: #5A5A5A;
    }

    #stock1 {
        height: 100px;
        transition: 1s;
    }

    #stock2 {
        height: 28px;
        transition: 1s;
    }

    #stock3 {
        height: 80px;
        transition: 1s;
    }

    .horizontal.bars {
        float: right;
        width: 30%;
        border-left: 1px dotted #5A5A5A;
        height: 100%;
        color: #5A5A5A;
    }

    #airfare1, #airfare2, #airfare3, #airfare4, #airfare5 {
        background-color: black;
        height: 25px;
        margin-top: 5px;
        float: right;
        color: red;
        text-align: right;
        font-style: normal;
        background-color: #5A5A5A;
    }

    #airfare1 {
        width: 90px;
    }

    #airfare2 {
        width: 90px;
    }

    #airfare3 {
        width: 85px;
    }

    #airfare4 {
        width: 85px;
    }

    #airfare5 {
        width: 85px;
    }

    /* To be Deleted?
    .slider {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 9px;
        height: 9px;
        border-radius: 5px;
        background: green;
        cursor: pointer;
    }

    #yesterday, #today, #tomorrow {
        padding: 10px;
        margin: 5px;
        background-color: #BDCEDA
    }

    .slidecontainer {
        height: 20px;
        width: 100%;
        margin: auto 0;
        display: none;
    }

    Slider CSS code courtey of w3schools.com */
}

/* Smartphones (landscape) ---------- */
@media screen and (min-width: 481px) {
    .container {
        max-width: 500px;
        min-width: 320px;
        width: 70%;
        margin: 0 auto;
    }

    .container img {
        width: 110%;
        margin: 0 auto;
    }

    svg {
        transform: scale(1.5);
        left: 0px;
    }

    .text {
        font-size: .85em;
        line-height: 1.4;
    }

    /* Interactive: Graph and output */
    .graph {
        overflow-x: scroll;
        width: 100%;
        margin: 0 auto;
        margin-top: 25px;
        background-color: white;
        border-left: 1px dotted #BDCEDA;
    }

    .logos {
        height: 35px;
        border-top: 1px dotted #BDCEDA;
        padding-top: 1px;
        padding-bottom: 1px;
        margin: 0 auto;
    }

    .logos img {
        width: 15%;
        display: inline;
    }

    .logos p {}

    .container.output {
        margin: 0 auto;
        border-top: 1px dotted #BDCEDA;
        margin-top: 10px;
        height: 35px;
        width: 100%;
    }

    .container p {
        font-size: .85em;
        display: inline;
        padding-left: 1px;
        padding-right: 1px;
        vertical-align: middle;
        line-height: 35px;
    }

    .container span {
        width: 82px;
        display: inline-block;
        font-size: 1.35em;
        font-weight: bolder;
        text-align: left;
        vertical-align: middle;
        line-height: 30px;
    }

    .container #stockoutput {
        margin-left: 7px;
    }

    .moreinfo {
        border-top: 1px dotted #BDCEDA;
        width: 100%;
        border-bottom: 1px dotted #BDCEDA;
        height: 35px;
    }

    .container #fareoutput {
        padding-bottom: 12px;
    }

    /* Date Navigation */
    .datepicker {
        margin: 0 auto;
        width: 100%;
        padding-top: 10px;
        text-align: center;
        margin-bottom: 20px;
    }

    button {
        height: 30px;
        font-size: .8em;
        background-color: #BDCEDA;
    }
}

/* Tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* styles */
}

/* Tablets, iPads (portrait) ---------- */
@media screen and (min-width: 768px) {
    /* styles */
}

/* Tablets, iPads (landscape) ---------- */
@media screen and (min-width: 1024px) {
    /* styles */
}

/* Desktops and laptops ---------- */
@media screen and (min-width: 1224px) {
    /* styles */
}

/* Large screens ---------- */
@media screen and (min-width: 1824px) {
    /* styles */
}