@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/* Start your base/mobile styles here */
* {
    box-sizing: border-box;
}

html, body {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 1em;
    font-family: Verdana, sans-serif;
    background-color: black;
}

button {
    height: 50px;
    width: 50px;
    background-color: : red;
    border: 1px solid;
    margin-left: 5px;
}

h6 {
    text-align: left;
    font-size: .6em;
    color: red;
}

.bottom {
    width: 100%;
    display: block;
    margin-top: 10px;
    padding-top: 0px;
    height: 20px;
    color: white;
}

.bottom p {
    vertical-align: middle;
}

.bottom img {
    width: 30px;
    padding-left: 5px;
    vertical-align: middle;
    margin-bottom: 30px;
}

/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px) {

    /*Lucas stuff*/
    select {
        color: white;
        background: gray;
    }

    h1, h5 {
        color: white;
    }

    h4 {
        margin: 10px 0px 10px 0px;
        padding: 0px 10px 0px 0px;
        color: #5A5A5A;
    }

    .container {
        max-width: 400px;
        min-width: 340px;
        width: 90%;
        margin: 0 auto;
    }

    .container img {
        width: 100%
    }

    .datepicker {
        margin: 0 auto;
        width: 100%;
        padding-top: 10px;
        text-align: center;
        margin-bottom: 20px;
    }

    button {
        height: 30px;
        font-size: .7em;
        color: white;
    }

    svg {
        left: 0px;
        transform: scale(1.5);
    }

    .text {
        font-size: .8em;
        width: 90%;
        line-height: 1.3;
        color: white;
        display: inline-block;
    }

    .container #stockoutput {
        margin-left: 7px;
    }

    .graph {
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        height: 200px;
    }

    .calendar {
        color: white;
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        float: left;
    }

    .calendar p {
        float: left;
        padding-left: 8px;
        color: #5A5A5A;
    }

    .date.chosen {
        border-top: 1px dotted #5A5A5A;
        border-bottom: 1px dotted #5A5A5A;
        height: 55px;
        color: #5A5A5A;
        text-align: center;
        margin-top: 10px;
    }

    .date.chosen span {
        font-weight: lighter;
        font-size: 2.5em;
    }

    .borders {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px dotted #5A5A5A;
        z-index: 0;
        display: inline-block;
    }

    .cases {
        border-top: 1px dotted #BDCEDA;
        border-bottom: 1px dotted #BDCEDA;
        height: 25px;
        font-size: .8em;
        margin-top: 15px;
        color: #5A5A5A;
        padding: 4px 2px;
    }

    .cases span {
        color: red;
        font-weight: bolder;
        padding: 4px 2px;
    }

    .flights {
        float: right;
        width: 100%;
        height: 20px;
        background-color: red;
        transition: 1s;
    }

    .visual.graph {
        border: 1px dotted #BDCEDA;
        width: 99%;
        text-align: center;
        align-items: flex-end;
        overflow: hidden;
        min-height: 300px;
    }

    /* analisis de casos*/
    .daily.change {
        width: 40px;
        height: 40px;
        color: red;
        border: 1px dotted red;
        border-radius: 40px;
    }

    /*----stock data ----*/
    .stock.bars {
        float: left;
        display: flex;
        align-items: flex-end;
        height: 100%;
        width: 44%;
        height: 100%;
    }

    .stock.bars p {
        color: red;
        height: 20px;
        align-self: end;
        padding-left: 6px;
        position: absolute;
        text-align: center;
        font-weight: bolder;
    }

    .stock.bars span {
        font-size: .50em;
        color: white;
        transform: rotate(90deg);
    }

    #stockaal, #stockalk, #stockdal, #stockluv, #stockual {
        margin-left: 0px;
        color: red;
        width: 15%;
        text-align: center;
        background-color: #5A5A5A;
        margin: 0px 3px 0px 3px;
        height: 10px;
        transition: 1s;
    }

    #stockaal p, #stockalk p, #stockdal p, #stockluv p, #stockual p {
        font-size: 8.5px;
        position: relative;
        top: -25px;
        color: white;
        left: 0px;
        text-align: center;
        padding: 0px;
    }

    /*----fare data ----*/
    .fare.bars {
        float: right;
        width: 56%;
        border-left: 1px dotted #5A5A5A;
        height: 100%;
        color: #5A5A5A;
        display: flex;
        align-items: flex-end;
    }

    .fare.bars p {
        color: red;
        text-align: center;
        position: absolute;
        text-align: center;
        align-self: end;
        font-weight: bolder;
        padding-left: 5px;
    }

    .fare.bars span {
        vertical-align: middle;
        font-size: .8em;
    }

    #airfarela, #airfarechi, #airfareatl, #airfarewash, #airfareorl {
        height: 10px;
        margin-top: 5px;
        float: right;
        color: white;
        text-align: center;
        font-style: normal;
        background-color: #2e2e2e;
        font-size: .8em;
        transition: 1s;
        margin: 1px 2px 1px 3px;
        width: 16%
    }

    #airfarela p, #airfarechi p, #airfareatl p, #airfarewash p, #airfareorl p {
        font-size: 8.5px;
        position: relative;
        top: -25px;
        color: white;
        left: 0px;
        text-align: center;
        padding: 0px;
    }

    .legend span {
        color: white;
        font-size: .5em;
    }

    @media screen and (min-width: 481px) {
        .container {
            max-width: 500px;
            min-width: 320px;
            width: 70%;
            margin: 0 auto;
        }

        .container img {
            width: 110%;
            margin: 0 auto;
        }

        svg {
            transform: scale(1.5);
            left: 0px;
        }

        .text {
            font-size: .85em;
            line-height: 1.4;
        }

        /* Interactive: Graph and output */
        .graph {
            overflow-x: scroll;
            width: 100%;
            margin: 0 auto;
            margin-top: 25px;
            background-color: white;
            border-left: 1px dotted #BDCEDA;
        }

        .container.output {
            margin: 0 auto;
            border-top: 1px dotted #BDCEDA;
            margin-top: 10px;
            height: 35px;
            width: 100%;
        }

        .container p {
            font-size: .85em;
            display: inline;
            padding-left: 1px;
            padding-right: 1px;
            vertical-align: middle;
            line-height: 35px;
        }

        .container span {
            width: 82px;
            display: inline-block;
            font-size: 1.35em;
            font-weight: bolder;
            text-align: left;
            vertical-align: middle;
            line-height: 30px;
        }

        .container #stockoutput {
            margin-left: 7px;
        }

        .moreinfo {
            border-top: 1px dotted #BDCEDA;
            width: 100%;
            border-bottom: 1px dotted #BDCEDA;
            height: 35px;
        }

        .container #fareoutput {
            padding-bottom: 12px;
        }

        /* Date Navigation */
        .datepicker {
            margin: 0 auto;
            width: 100%;
            padding-top: 10px;
            text-align: center;
            margin-bottom: 20px;
        }

        button {
            height: 30px;
            font-size: .8em;
            background-color: #BDCEDA;
        }
    }

    /* Tablets, iPads (portrait and landscape) ---------- */
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        /* styles */
    }

    /* Tablets, iPads (portrait) ---------- */
    @media screen and (min-width: 768px) {
        /* styles */
    }

    /* Tablets, iPads (landscape) ---------- */
    @media screen and (min-width: 1024px) {
        /* styles */
    }

    /* Desktops and laptops ---------- */
    @media screen and (min-width: 1224px) {
        /* styles */
    }

    /* Large screens ---------- */
    @media screen and (min-width: 1824px) {
        /* styles */
    }